html, body {
  height: 100%;
  margin: 0;
}

.HOMEPAGE {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically as well */
  height: 100vh; /* Use full height of the viewport */
}

.HOMEPAGE .overlap-wrapper {
  overflow-x: hidden;
  width: 704px;
  height: 723px;
}

.HOMEPAGE .overlap {
  position: relative;
  width: 708px;
  height: 723px;
}

.HOMEPAGE .overlap-group-wrapper {
  position: absolute;
  width: 708px;
  height: 723px;
  top: 0;
  left: 0;
}

.HOMEPAGE .overlap-group {
  position: relative;
  width: 704px;
  height: 723px;
  border-radius: 15px;
  background: conic-gradient(from 180deg at 50% 50%, rgb(255, 255, 255) 180.51deg, rgba(18, 75, 53, 0.5) 359.87deg);
}

.HOMEPAGE .bell-pin-fill {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  left: 582px;
}
.HOMEPAGE .user-circle {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  left: 640px;
}

.HOMEPAGE .div {
  position: absolute;
  width: 662px;
  height: 614px;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); 
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
  box-shadow: 0px 4px 4px #00000040;
}

.HOMEPAGE .rectangle {
  position: absolute;
  width: 619px;
  height: 142px;
  top: 119px;
  left: 20px;
}

.HOMEPAGE .rectangle-2 {
  position: absolute;
  width: 611px;
  height: 134px;
  top: 265px;
  left: 24px;
  border-radius: 15px;
  border: 1px solid;
  border-color: #000000;
  box-shadow: 0px 4px 4px #00000040;
  background: linear-gradient(180deg, rgba(18, 75, 53, 0.35) 0%, rgba(18, 75, 53, 0) 100%);
}

.HOMEPAGE .rectangle-3 {
  position: absolute;
  width: 611px;
  height: 134px;
  top: 420px;
  left: 24px;
  border-radius: 15px;
  border: 1px solid;
  border-color: #000000;
  box-shadow: 0px 4px 4px #00000040;
  background: linear-gradient(180deg, rgba(18, 75, 53, 0.35) 0%, rgba(18, 75, 53, 0) 100%);
}

.HOMEPAGE .title-wrapper {
  position: absolute;
  width: 50%;
  top: 10%;
  left: 25%;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Mallanna", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 48px;
  letter-spacing: 1.6px;
  line-height: 40px;
  white-space: nowrap;
}

.HOMEPAGE .subtitle-wrapper {
  position: absolute;
  width: 50%;
  top: 10%;
  left: 28%;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Mallanna", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 1.92px;
  line-height: 48px;
  white-space: nowrap;
}

.HOMEPAGE .menu {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 17px;
  left: 17px;
}



.HOMEPAGE .users {
  position: absolute;
  width: 100px;
  height: 105px;
  top: 230px;
  left: 142px;
}

.HOMEPAGE .group {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 379px;
  left: 134px;
  background-color: #000000;
  border-radius: 50px;
}


.HOMEPAGE .roommates-text {
  position: absolute;
  width: 30%; 
  top: 25%; 
  left: 33%; 
  text-align: center; 
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 0.2px #000000;
  font-family: "Mallanna", Helvetica;
  font-weight: 400;
  color: #0a0000;
  font-size: 48px;
  letter-spacing: 1.92px;
  line-height: 48px;
  white-space: nowrap;
}

.HOMEPAGE .homes-text {
  position: absolute;
  width: 30%; 
  top: 50%; 
  left: 29%; 
  text-align: center; 
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 0.2px #000000;
  font-family: "Mallanna", Helvetica;
  font-weight: 400;
  color: #0a0000;
  font-size: 48px;
  letter-spacing: 1.92px;
  line-height: 48px;
  white-space: nowrap;
}

.HOMEPAGE .subleasers-text {
  position: absolute;
  width: 30%; 
  top: 75%; 
  left: 33%; 
  text-align: center; 
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 0.2px #000000;
  font-family: "Mallanna", Helvetica;
  font-weight: 400;
  color: #0a0000;
  font-size: 48px;
  letter-spacing: 1.92px;
  line-height: 48px;
  white-space: nowrap;
}
.HOMEPAGE .roommates-img {
  position: absolute;
  height: auto;
  width: 20%; 
  top: 23%; 
  left: 11%; 
}
.HOMEPAGE .homes-img {
  position: absolute;
  height: auto; 
  width: 15%;
  top: 45%; 
  left: 13%; 
}

.HOMEPAGE .subleasers-img {
  position: absolute;
  height: auto;
  width: 17%; 
  top: 69%; 
  left: 14%; 
}



.dropbtn {
  /* background-color: #3498DB; */
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: absolute;
  bottom: 120px;
  left: 20px;
  background-color: #f1f1f1;
  min-width: 225px;
  max-height: 225px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /*z-index: 1; */
  overflow-y: auto;
}

.dropup-content a {
  color: black;
  padding: 40px 46px;
  text-decoration: none;
  display: block;
}

.dropup-content a:hover {
  background-color: #ddd;
  bottom:100%;
}

/* .dropup:hover .dropup-content{
  display: block;
} */

.dropup:hover .dropup-content {
  display: block;
  /*bottom: -60%;*/
  bottom: -185%;
}

.dropup:hover .dropbtn {
  background-color: #297fb938;
} 

.HOMEPAGE .profile-text {
  position: absolute;
  /* width: 279px;*/
  top: 10px; 
  left: 100px; 
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 0.2px #000000;
  font-family: "Mallanna", Helvetica;
  font-weight: 400;
  color: #0a0000;
  font-size: 25px;
  letter-spacing: 1.92px;
  line-height: 48px;
  white-space: nowrap;
}

.HOMEPAGE .matches-text {
  position: absolute;
  /* width: 279px;*/
  top: 85px; 
  left: 100px; 
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 0.2px #000000;
  font-family: "Mallanna", Helvetica;
  font-weight: 400;
  color: #0a0000;
  font-size: 25px;
  letter-spacing: 1.92px;
  line-height: 48px;
  white-space: nowrap;
}

.HOMEPAGE .matches {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 80px; 
  left: 20px;
}
.HOMEPAGE .profile {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 13px;
  left: 20px;
}


