html, body {
  height: 100%;
  margin: 0;
}

.LOGIN {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically as well */
  height: 100vh; /* Use full height of the viewport */
}

.LOGIN .overlap-wrapper {
  overflow-x: hidden;
  width: 704px;
  height: 723px;
}

.LOGIN .overlap {
  position: relative;
  width: 708px;
  height: 723px;
}

.LOGIN .overlap-group-wrapper {
  position: absolute;
  width: 708px;
  height: 723px;
  top: 0;
  left: 0;
}

.LOGIN .overlap-group {
  position: relative;
  text-align: center;
  width: 704px;
  height: 723px;
  border-radius: 15px;
  background:conic-gradient(from 180deg at 50% 50%, #124B35 0%, #DADADAFF 49%, #124B35 100%);
}

.LOGIN .login-empty {
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   width: 75%;
   height: 75%;
}

.LOGIN .title-wrapper {
  position: absolute;
  width: 50%;
  top: 4%;
  left: 25%;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Mallanna", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 48px;
  letter-spacing: 1.6px;
  line-height: 40px;
  white-space: nowrap;
}